.rowInput {
  width: 90vw;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-top: 6px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4.5vw;
}

#kgInput {
  /* margin-left: 15px; */
}
#repsInput {
  /* margin-left: 15px; */
}

.rowInput input {
  width: 12vw;
  outline: none;
  margin-left: 4px;
}
.rowInput span {
  width: 50px;
  /* margin-left: 4px; */
}

.clearRowBtn {
  padding: 3px 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
}

#xBtn {
  width: 5px;
  /* margin-left: 10px; */
}
