.recordPage {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}
.recordPage header {
  font-size: 6.5vw;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
    0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
}

.recordPage table {
  border: 1px solid white;
  text-align: center;
  width: 90vw;
}

.recordPage th,
td {
  border: 1px solid white;
}
#tablePart {
  padding-top: 25px;
  padding-bottom: 100px;
}

#tablePart section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tablePart section h3 {
  width: 90vw;
  font-size: 5.5vw;
}

#totalRecordPart {
  width: 90vw;
  margin: 0 auto;
}

#totalRecordPart h3 {
  font-size: 7vw;
}

#bestSetH {
  margin-top: 25px;
}

#totalRecordPart li {
  font-size: 4.5vw;
}

#totalRecordPart ul {
  margin-top: 0.5rem;
  list-style: none;
}

#totalRecordPart ul li span {
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}

.recordPage h3 {
  margin-bottom: 0.5rem;
}

#workoutsPart {
  margin-left: 15px;
  font-size: 7vw;
  padding-bottom: 15px;
}

.glowBtn {
  width: 30vw;
  height: 6vh;
  border-radius: 10px !important;
  position: fixed;
  top: 25px;
  right: 20px;
}

.glowBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  left: 0;
  top: 0;
  background-size: 400%;
  filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 30vw;
  height: 6vh;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.glowBtn:after {
  display: flex;
  font-size: 2.6vh;
  align-items: center;
  justify-content: center;
  content: "Done";
  position: absolute;
  width: 30vw;
  height: 6vh;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 8px;
  color: white;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.record {
  text-align: left;
  width: 100%;
  padding: 3px 0;
  font-size: 4.5vw;
}

#workoutList {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90vw;
}

.workoutName {
  width: 60vw;
  overflow-x: scroll;
  white-space: nowrap;
}
