.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  color: #ffffff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.spinnerFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress {
  position: relative;
  height: 10px;
  width: 40%;
  border: 4px solid #ffffff;
}
.text {
  padding-bottom: 10px;
}

.progress .color {
  position: absolute;
  /* filter: blur(5px);
  backdrop-filter: blur(5px); */
  background: hotpink;
  width: 0px;
  height: 10px;

  animation: progress 2s infinite linear;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
