.timeLapse {
  color: white;
  /* padding-top: 80px; */
  font-size: 5.5vw;
  width: 100vw;
  padding-left: 15px;
  box-sizing: border-box;
}

.timeImage {
  margin-right: 0.5rem;
}

.timeText {
  margin-right: 0.5rem;
}

.time {
  width: 100px;
}
