.workoutName {
  font-size: 8vw;
  margin-top: 20px;
}

#updateBtn {
  color: white;
  margin-left: 12px;
}

.updatePart {
  display: flex;
  align-items: center;
}

.setUpdatePart {
  display: flex;
  align-items: center;
}

.workoutNameInput {
  border: none;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  outline: none;
  width: 50vw;
}

#deleteBtn {
  color: white;
  margin-left: 5px;
}

.xBtn {
  color: white;
  margin-left: 10px;
  display: flex;
  position: relative;
  bottom: 1px;
}

.workoutNamePart {
  overflow: scroll;
  white-space: nowrap;
}

.workoutNameUpdatePart {
  display: flex;
}

.nonFixModeWorkoutName {
  overflow-x: scroll;
  white-space: nowrap;
  width: 80vw;
  font-size: 8vw;
  margin-top: 20px;
}
